<div class="col-md-10">
	<br><br><br>
	<form action="{{ $BASE }}/save" method="POST">
		<div class="form-group">
			<label for="">Nama</label>
			<input type="text" name="nama" required class="form-control">
		</div>
		<div class="form-group">
			<label for="">Email</label>
			<input type="email" name="email" required class="form-control">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form><br><br>
	<table class="table">
		<thead>
			<tr>
				<th>No</th>
				<th>Nama</th>
				<th>Email</th>
				<th>Aksi</th>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @cobas }}" value="{{ @coba }}">
				<tr>
					<td>{{ trim(@coba.id) }}</td>
					<td>{{ @coba.nama }}</td>
					<td>{{ @coba.email }}</td>
					<td>
						<a class="btn btn-warning btn-sm" href="{{ $BASE }}/edit/{{ @coba.id }}">Edit</a>
						<a class="btn btn-danger btn-sm" onclick="return confirm('Yakin Hapus?')" href="{{ $BASE }}/remove/{{ @coba.id }}">hapus</a>
					</td>
				</tr>
			</repeat>
		</tbody>
	</table>
</div><br><br>