<div class="col-md-10">
	<br><br><br>
	<form action="{{ $BASE }}/update/{{ @cobaId.id }}" method="POST">
		<div class="form-group">
			<label for="">Nama</label>
			<input type="text" value="{{ @cobaId.nama }}" name="nama" required class="form-control">
		</div>
		<div class="form-group">
			<label for="">Email</label>
			<input type="email" value="{{ @cobaId.email }}" name="email" required class="form-control">
		</div>
		<div class="form-group">
			<a href="{{ $BASE }}/coba" class="btn btn-danger">Batal</a>
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
	</form><br><br>
</div>