<main class="side-main">
    <!--================ Hero sm Banner start =================-->      
    <section class="hero-banner mb-30px">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{{ $BASE }}/public/img/banner/hero-banner.png" alt="">
            </div>
          </div>
          <div class="col-lg-5 pt-5">
            <div class="hero-banner__content">
              <h1>Les Privat Online No.1 diindonesia</h1>
              <p>Solusi terpercaya dalam pencarian guru les privat terbaik dilokasi terdekat anda sesuai dengan keinginan dalam satu aplikasi.</p>
              <a class="button bg" href="#">Mulai Les Privat</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero sm Banner end =================-->
    <!--================ Feature section start =================-->      
    <section class="section-margin">
      <div class="container">
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">Les Privat Dengan Mudah Bersama Privid Indonesia</h2>
          <p class="section-intro__subtitle">Kemudahan dalam les privat dalam satu aplikasi</p>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-package"></i>
                </span>
                <h3 class="card-feature__title">Privid Challenge</h3>
                <p class="card-feature__subtitle">Kumpulkan poin dari beberapa challenge,dan dapatkan reward dengan menukarkan beberapa items menarik.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-mouse-alt"></i>
                </span>
                <h3 class="card-feature__title">Rekomendasi Belajar</h3>
                <p class="card-feature__subtitle">Sistem secara otomatis akan memberikan beberapa rekomendasi materi belajar sesuai kebutuhan anda.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-headphone-alt"></i>
                </span>
                <h3 class="card-feature__title">Smart Learning</h3>
                <p class="card-feature__subtitle">Berinteraksi dan berdiskusi dengan para ahli dibidangnya sesuai bidang diambil didalam aplikasi.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Feature section end =================-->      
    
    <!--================ about section start =================-->      
    <section class="section-padding--small bg-magnolia">
      <div class="container">
        <div class="row no-gutters align-items-center">
          <div class="col-md-5 mb-5 mb-md-0">
            <div class="about__content">
              <h2>Leading the Digital Entertainment Revolution</h2>
              <p>Molestie lorem est faucibus Faucibus erat phasellus placerat proinint aptent pulvinar fusce nostra porta sem platea nec, donec fusce erat Molestie lorem est faucibus faucibus erat phasellus placerat proin aptent pulvinar fusce nostra port</p>
              <a class="button button-light" href="#">Know More</a>
            </div>
          </div>
          <div class="col-md-7">
            <div class="about__img">
              <img class="img-fluid" src="{{ $BASE }}/public/img/home/about.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ about section end =================-->      
    
    <!--================ Offer section start =================-->      
    <section class="section-margin">
      <div class="container">
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">Features We Offer</h2>
          <p class="section-intro__subtitle">Vel aliquam quis, nulla pede mi commodo tristique nam hac. Luctus torquent velit felis commodo pellentesque nulla cras. Tincidunt hacvel alivquam quis nulla pede mi commodo tristique nam hac  luctus torquent</p>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <div class="row offer-single-wrapper">
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-pencil-alt"></i>
                  </span>
                  <h4>Easy To Manage</h4>
                  <p>Posuere porttitor justo ornare dictum ultricies enim imperdiet integer habitant.</p>
                </div>
              </div>
              
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-ruler-pencil"></i>
                  </span>
                  <h4>Analytics Tool</h4>
                  <p>Posuere porttitor justo ornare dictum ultricies enim imperdiet integer habitant.</p>
                </div>
              </div>
            </div>

            <div class="row offer-single-wrapper">
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-cut"></i>
                  </span>
                  <h4>Professionals Tools</h4>
                  <p>Posuere porttitor justo ornare dictum ultricies enim imperdiet integer habitant.</p>
                </div>
              </div>
              
              <div class="col-lg-6 offer-single">
                <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-light-bulb"></i>
                  </span>
                  <h4>Ready Content</h4>
                  <p>Posuere porttitor justo ornare dictum ultricies enim imperdiet integer habitant.</p>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="offer-single__img">
              <img class="img-fluid" src="{{ $BASE }}/public/img/home/offer.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Offer section end =================-->      

    <!--================ Solution section start =================-->      
    <section class="section-padding--small bg-magnolia">
      <div class="container">
        <div class="row align-items-center pt-xl-3 pb-xl-5">
          <div class="col-lg-6">
            <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
              <img class="img-fluid" src="{{ $BASE }}/public/img/home/solution.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="solution__content">
              <h2>Simple Solutions for Complex Connections</h2>
              <p>Molestie lorem est faucibus Faucibus erat phasellus placerat proinint aptent pulvinar fusce nostra porta sem platea nec, donec fusce erat Molestie lorem est faucibus faucibus erat phasellus placerat proin aptent pulvinar fusce nostra port</p>
              <a class="button button-light" href="#">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Solution section end =================-->      

    <!--================ Pricing section start =================-->      
    <section class="section-margin">
      <div class="container">
        <div class="section-intro pb-85px text-center">
          <h2 class="section-intro__title">Choose Your Plan</h2>
          <p class="section-intro__subtitle">Vel aliquam quis, nulla pede mi commodo tristique nam hac. Luctus torquent velit felis commodo pellentesque nulla cras. Tincidunt hacvel alivquam quis nulla pede mi commodo tristique nam hac  luctus torquent</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card text-center card-pricing">
              <div class="card-pricing__header">
                <h4>Normal</h4>
                <p>Attend only first day</p>
                <h1 class="card-pricing__price"><span>$</span>45.00</h1>
              </div>
              <ul class="card-pricing__list">
                <li><i class="ti-check"></i>Unlimited Entrance</li>
                <li><i class="ti-check"></i>Comfortable Seat</li>
                <li><i class="ti-check"></i>Paid Certificate</li>
                <li class="unvalid"><i class="ti-close"></i>Day One Workshop</li>
                <li class="unvalid"><i class="ti-close"></i>One Certificate</li>
              </ul>
              <div class="card-pricing__footer">
                <button class="button button-light">Buy Now</button>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card text-center card-pricing">
              <div class="card-pricing__header">
                <h4>Advanced</h4>
                <p>Attend only first day</p>
                <h1 class="card-pricing__price"><span>$</span>55.00</h1>
              </div>
              <ul class="card-pricing__list">
                <li><i class="ti-check"></i>Unlimited Entrance</li>
                <li><i class="ti-check"></i>Comfortable Seat</li>
                <li><i class="ti-check"></i>Paid Certificate</li>
                <li class="unvalid"><i class="ti-close"></i>Day One Workshop</li>
                <li class="unvalid"><i class="ti-close"></i>One Certificate</li>
              </ul>
              <div class="card-pricing__footer">
                <button class="button button-light">Buy Now</button>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card text-center card-pricing">
              <div class="card-pricing__header">
                <h4>Ultimate</h4>
                <p>Attend only first day</p>
                <h1 class="card-pricing__price"><span>$</span>65.00</h1>
              </div>
              <ul class="card-pricing__list">
                <li><i class="ti-check"></i>Unlimited Entrance</li>
                <li><i class="ti-check"></i>Comfortable Seat</li>
                <li><i class="ti-check"></i>Paid Certificate</li>
                <li class="unvalid"><i class="ti-close"></i>Day One Workshop</li>
                <li class="unvalid"><i class="ti-close"></i>One Certificate</li>
              </ul>
              <div class="card-pricing__footer">
                <button class="button button-light">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Pricing section end =================-->      

    <!--================ Testimonial section start =================-->      
    <section class="section-padding bg-magnolia">
      <div class="container">
        <div class="section-intro pb-5 text-center">
          <h2 class="section-intro__title">Client Says Me</h2>
          <p class="section-intro__subtitle">Vel aliquam quis, nulla pede mi commodo tristique nam hac. Luctus torquent velit felis commodo pellentesque nulla cras. Tincidunt hacvel alivquam </p>
        </div>

        <div class="owl-carousel owl-theme testimonial">
          <div class="testimonial__item text-center">
            <div class="testimonial__img">
              <img src="{{ $BASE }}/public/img/testimonial/testimonial1.png" alt="">
            </div>
            <div class="testimonial__content">
              <h3>Stephen Mcmilan</h3>
              <p>Executive, ACI Group</p>
              <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had also made from. Give may saying meat there from heaven</p>
            </div>
          </div>
          <div class="testimonial__item text-center">
            <div class="testimonial__img">
              <img src="{{ $BASE }}/public/img/testimonial/testimonial1.png" alt="">
            </div>
            <div class="testimonial__content">
              <h3>Stephen Mcmilan</h3>
              <p>Executive, ACI Group</p>
              <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had also made from. Give may saying meat there from heaven</p>
            </div>
          </div>
          <div class="testimonial__item text-center">
            <div class="testimonial__img">
              <img src="{{ $BASE }}/public/img/testimonial/testimonial1.png" alt="">
            </div>
            <div class="testimonial__content">
              <h3>Stephen Mcmilan</h3>
              <p>Executive, ACI Group</p>
              <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had also made from. Give may saying meat there from heaven</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Testimonial section end =================-->      

    <!--================ Start Clients Logo Area =================-->
    <section class="clients_logo_area section-padding">
      <div class="container">
        <div class="clients_slider owl-carousel">
          <div class="item">
            <img src="{{ $BASE }}/public/img/clients-logo/c-logo-1.png" alt="">
          </div>
          <div class="item">
            <img src="{{ $BASE }}/public/img/clients-logo/c-logo-2.png" alt="">
          </div>
          <div class="item">
            <img src="{{ $BASE }}/public/img/clients-logo/c-logo-3.png" alt="">
          </div>
          <div class="item">
            <img src="{{ $BASE }}/public/img/clients-logo/c-logo-4.png" alt="">
          </div>
          <div class="item">
            <img src="{{ $BASE }}/public/img/clients-logo/c-logo-5.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <!--================ End Clients Logo Area =================-->
  </main>