<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - Privid Indonesia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ $BASE }}/public/img/privid.jpg">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/themify-icons.css">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/metisMenu.css">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/typography.css">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/default-css.css">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/styles.css">
    <link rel="stylesheet" href="{{ $BASE }}/public/adm-asset/css/responsive.css">
    <!-- modernizr css -->
    <script src="{{ $BASE }}/public/adm-asset/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <!-- <div id="preloader">
        <div class="loader"></div>
    </div> -->
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-bg">
        <div class="container">
            <div class="login-box ptb--100">
                <form action="{{ $BASE }}/admin">
                    <div class="login-form-head">
                        <h4>Sign In</h4>
                        <p>PRIVID INDONESIA</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="loginEmail" id="exampleInputEmail1">
                            <i class="ti-email"></i>
                        </div>
                        <div class="form-gp">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="loginPassword" id="exampleInputPassword1">
                            <i class="ti-lock"></i>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Sign In <i class="ti-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{{ $BASE }}/public/adm-asset/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ $BASE }}/public/adm-asset/js/popper.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/bootstrap.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/owl.carousel.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/metisMenu.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/jquery.slimscroll.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/jquery.slicknav.min.js"></script>
    
    <!-- others plugins -->
    <script src="{{ $BASE }}/public/adm-asset/js/plugins.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/scripts.js"></script>
</body>

</html>