		<!-- FOOTER -->
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h4>Privid Indonesia</h4>
						<ul>
							<li><a href="#">Tentang Kami</a></li>
							<li><a href="#">Karir</a></li>
							<li><a href="#">Kontak Kami</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Partner Guru</a></li>
						</ul>
					</div>
					<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h4>Layanan</h4>
						<ul>
							<li><a href="#">Les Privat</a></li>
							<li><a href="#">Paket Belajar</a></li>
							<li><a href="#">Lingkup Kuliah</a></li>
							<li><a href="#">Les Profesional</a></li>
							<li><a href="#">Sertifikasi</a></li>
						</ul>
					</div>
					<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h4>CV.Privid Indonesia</h4>
						<ul>
							<li><a href="#">Konsultasi pendidikan</a></li>
							<li><a href="#">Challenge Game</a></li>
							<li><a href="#">Baca Buku</a></li>
							<!-- <li><a href="#">Terms of Service</a></li> -->
						</ul>
					</div>
					<!-- <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h4>Resources</h4>
						<ul>
							<li><a href="#">Guides</a></li>
							<li><a href="#">Research</a></li>
							<li><a href="#">Experts</a></li>
							<li><a href="#">Agencies</a></li>
						</ul>
					</div> -->
					<div class="col-xl-4 col-md-8 mb-4 mb-xl-0 single-footer-widget">
						<h4>Download Gratis Aplikasi privid</h4>
						<!-- <p>You can trust us. we only send promo offers,</p> -->
						<div class="form-wrap" id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">
								<input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
								 required type="email">
								<button class="click-btn btn btn-default">subscribe</button>
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>

								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="footer-bottom row align-items-center text-center text-lg-left">
					<p class="footer-text m-0 col-lg-3 col-md-12">&copy;<script>document.write(new Date().getFullYear());</script> Privid Indonesia.All rights reserved</p>
					<p class="footer-text m-0 col-lg-3 col-md-12 text-center">
						<a href="{{ $BASE }}/privacy-policy">Kebijakan Privasi</a>
					</p>
					<p class="footer-text m-0 col-lg-3 col-md-12">
						<a href="{{ $BASE }}/terms-conditions">Syarat & Ketentuan</a>
					</p>
					<div class="col-lg-3 col-md-12 text-center text-lg-right footer-social">
						<a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
						<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
						<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
						<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
						<a href="{{ $BASE }}"><i class="fab fa-dribbble"></i></a>
					</div>
				</div>
			</div>
		</footer>
		<!-- END FOOTER -->
		<!-- SCRIPT -->
		<script src="{{ $BASE }}/public/assets/jquery/jquery-3.2.1.min.js"></script>
			<script src="{{ $BASE }}/public/assets/bootstrap/bootstrap.bundle.min.js"></script>
			<script src="{{ $BASE }}/public/assets/owl-carousel/owl.carousel.min.js"></script>
			<script src="{{ $BASE }}/public/js/jquery.ajaxchimp.min.js"></script>
			<script src="{{ $BASE }}/public/js/mail-script.js"></script>
			<script src="{{ $BASE }}/public/js/main.js"></script>
	</body>
</html>