</div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>&copy;<script>document.write(new Date().getFullYear());</script> <a href="{{ $BASE }}" target="_blank">Privid Indonesia</a>. All right reserved.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <script src="{{ $BASE }}/public/adm-asset/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ $BASE }}/public/adm-asset/js/popper.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/bootstrap.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/owl.carousel.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/metisMenu.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/jquery.slimscroll.min.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="{{ $BASE }}/public/adm-asset/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="{{ $BASE }}/public/adm-asset/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="{{ $BASE }}/public/adm-asset/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="{{ $BASE }}/public/adm-asset/js/maps.js"></script>
    <!-- others plugins -->
    <script src="{{ $BASE }}/public/adm-asset/js/plugins.js"></script>
    <script src="{{ $BASE }}/public/adm-asset/js/scripts.js"></script>
</body>

</html>